  <% if (!user) { %>
    <script defer src="https://accounts.google.com/gsi/client"></script>
  <% } %>
</head>
<body>
  <nav>
    <% if (user) { %>
      <section id="logo">
        <a href="/">Rent-My-Car</a>
      </section>
      <section id="paths">
        <a 
        href="/cars" <%- title === "ALL CARS" ? 'class="active"' : "" %>
        >
        Search for a car!
      </a>
      <a 
        href="/hosts/new" <%- title === "New Host" ? 'class="active"' : "" %>
        >
        Become A Host
      </a>
      </section>
      <a href="/auth/logout" class="right">
        <button type="submit">Logout</button>
      </a>
    <% } else { %>
      <div 
        id="g_id_onload"
        data-client_id="<%= googleClientID %>"
        data-login_uri="/auth/google"
        data-auto_prompt="false"
      ></div>
      <div 
        class="g_id_signin right"
        data-type="standard"
        data-size="large"
        data-theme="outline"
        data-text="sign_in_with"
        data-shape="rectangular"
        data-logo_alignment="left"
      ></div>
    <% } %>
  </nav>
