  <% if (!user) { %>
    <script defer src="https://accounts.google.com/gsi/client"></script>
  <% } %>
</head>
<body>
  <nav>
    <% if (user) { %>
      <section id="paths">
        <a href="/" <%- title === "Host profile" ? 'class="active"' : "" %>><i class="fas fa-solid fa-house-chimney fa-2x"></i></a>
        <a 
        href="/cars" <%- title === "ALL CARS" ? 'class="active"' : "" %>
        >
        <i class="fas fa-solid fa-car-burst fa-2x"></i>
      </a>
      <% if (hostProfile) { %>
        <a href="/hosts/<%= hostProfile._id %>"><i class="fas fa-regular fa-user fa-2x"></i></a>
      <% } else { %>
        <a 
          href="/hosts/new"
          >
          <button id="new-host">Become Host</button>
        </a>
      <% } %>
      </section>
      <a href="/auth/logout" class="right">
        <button type="submit">Logout</button>
      </a>
    <% } else { %>
      <div 
        id="g_id_onload"
        data-client_id="<%= googleClientID %>"
        data-login_uri="/auth/google"
        data-auto_prompt="false"
      ></div>
      <div 
        class="g_id_signin right"
        data-type="standard"
        data-size="large"
        data-theme="outline"
        data-text="sign_in_with"
        data-shape="rectangular"
        data-logo_alignment="left"
      ></div>
    <% } %>
  </nav>
