table {
  display: flex;
  flex-direction: column;
}

td {
  padding: 5px 30px;
}

th {
  padding: 5px 30px;
  text-decoration: underline;
}

#car-link {
  text-decoration: none;
  color: white;
  transition: .5s;
}

#car-link:hover {
  scale: 1.5; 
}
