
#cars {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  justify-content: space-between;
  align-items: center;
  width: 350px;
}

#car-link div {
  color: black;
}

#car-link div {
  margin: 10px;
}

a {
  text-decoration: none;
}

#row {
  display: flex;
  border: solid 1px lightgray;
  width: 350px;
  border-radius: 10px;
}

#row:hover {
  background-color: lightgrey;
}

#index-avatar {
  margin: 20px;
}

#car-icon {
  margin: 30px 10px 30px 10px;
  color: rgb(92, 63, 254);
}

#car-icon:hover {
  color:rgb(219, 23, 88);
  transition: .5s ease-in-out;
  transform: scale(1.15);
}

