#car-detail {
  display: flex;
  height: 150px;
  width: 400px;
  background-color: whitesmoke;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  opacity: 90%;
}

#car-detail:hover {
  background-color: lightgray;
}

#description {
  margin: 20px;
}

#icon {
  margin: 20px;
  color: rgb(92, 63, 254);
}

#view-host {
  background-color: rgb(92, 63, 254);
  border: solid 1px black;
  border-radius: 4px;
  text-decoration: none;
  color: whitesmoke;
  padding: 5px 30px;
  font-family: system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 
  'Helvetica Neue', sans-serif;
  margin-top: 10px;
  opacity: 90%;
}

#title {
  background-color: whitesmoke;
  padding: 0 10px;
  border-radius: 10px;
  opacity: 90%;
}

#car-and-profile-icon {
  display: flex;
  flex-direction: row;
}

#profile-icon {
  text-decoration: none;
  color: rgb(92, 63, 254);
  margin: 20px;
}

#profile-icon:hover {
  color:rgb(219, 23, 88);
  transition: .5s ease-in-out;
  transform: scale(1.1);
}