<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/hosts/new.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <p>Let's start with your age.</p>
  <form id="new-form" action="/hosts" method="POST">
    <input placeholder="How old are you?" type="number" name="age" id="age-input">
      <button type="submit">Continue</button>
  </form>
</main>

<%- include("../partials/footer") %>