div {
  display: flex;
  align-items: center;
  justify-content: center;
}

#avatar {
  margin-left: 133px;
}

a {
  display: flex;
  text-decoration: none;
  justify-content: center;
  background-color: white;
}